html,
body {
  margin: 0;
  padding: 0;
  overscroll-behavior: contain;
  overflow: hidden;
}
.cards-selector {
  /* TODO : assign height based on innerHeight (for iOS) */
  height: 100vh;
  overflow-x: hidden;
  user-select: none;
  font-family: "Poppins", sans-serif;
}
.cards {
  z-index: 3;
  height: 200px;
  width: 320px;
  margin: 0 auto;
  position: sticky;
  top: -77px;
}
.cards__inner {
  display: flex;
  margin: 0 5px 0 15px;
  will-change: transform;
  contain: layout style;
}
.cards-dots {
  z-index: 2;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  contain: layout paint style;
}
.info {
  z-index: 1;
}
.info__inner {
  box-sizing: border-box;
  min-width: 290px;
  max-width: 600px;
  padding: 0;
  margin: 10px auto 0;
}
.card-infos {
  display: flex;
  will-change: transform;
  contain: layout style;
}
@media (min-width: 600px) {
  .info__inner {
    overflow: hidden;
    border-radius: 10px 10px 0 0;
    background-color: #fff;
    box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
  }
  .cards-selector {
    background-color: #fdfdfd;
  }
}
