html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #fafafa;
}
#root {
  user-select: none;
  cursor: default;
  font-family: "Poppins", sans-serif;
  height: 100%;
}

.cards-selector {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.cards {
  z-index: 1;
  flex: 0 0 auto;
  width: 320px;
  margin: 0 auto;
}
.cards__inner {
  display: flex;
  margin: 0 5px 0 15px;
  will-change: transform;
  /* contain: strict; */
}

.cards-dots {
  contain: strict;
  z-index: 2;
  flex: 0 0 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info__outer {
  flex: 1 1 100%;
  position: relative;
  contain: strict;
}
.info {
  z-index: 1;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-width: 290px;
  max-width: 600px;
  padding: 0;
  margin: 10px auto 0;
  border-radius: 10px 10px 0 0;
  background-color: #fff;
  box-shadow: 0 10px 30px -5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.info__inner {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  transform-origin: top;
  transition: all 256ms cubic-bezier(0.4, 0, 0.2, 1);
}
.info__inner--far {
  transform: perspective(800px) rotateX(-90deg);
  opacity: 0;
}
.card-infos {
  display: flex;
  will-change: transform;
}
